body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
  color: #333;
}

h1 {
  text-align: center;
  padding: 25px 0;
  background-color: #004c7a;
  color: white;
  margin: 0;
}

section {
  width: 80%;
  max-width: 850px;
  background-color: #ffffff;
  margin: 30px auto;
  padding: 25px;
  border-radius: 8px;
  font-size: 1.2em;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #004c7a;
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #004c7a;
  font-size: 0.9em;
  color: #ffffff;
  margin-top: 40px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}